<section id="inicio">
    <div class="body">
        <div class="main-info">
            <div class="text-container">
                <h1>Lucha contra los virus con vacunas</h1>
                <h2>Vamos a acabar esta pandemia aniquilando el viruson vacunas, no dejes que tu y tus familiares se
                    infecten.
                </h2>


            </div>
            <div class="icon-container">
                <div class="top">
                    <div id="icon1"><img src="../../../assets/img/shield.png"> Proteccion</div>
                    <div id="icon2"><img src="../../../assets/img/star.png">Vacunas seleccionadas</div>
                </div>
                <div class="buttom">
                    <div id="icon3"><img src="../../../assets/img/clock.png">Agenda tu cita para vacunarte</div>
                </div>
            </div>
        </div>
        <div class="media-content">
            <img src="../../../assets/img/chica-cubrebocas.png">
        </div>
    </div>
</section>