

@mixin center-elements($justify-content, $align-items){
    justify-content: $justify-content;
    align-items: $align-items;
    display: flex;
    
}

@mixin icon-size{
    width: 28px;
    height: 28px;
}
.vaccine-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img{
    opacity: 20%;
    object-fit: contain;
    width: 15%;
    @include center-elements(center, center);
}