<div class="info-container">
    <div class="header">
        <h2>Por que deeberia vacunarme</h2>
        <p>Para evitar cualquier duda sobre vacunarse contra el COVID-19
            dentifique los siguientes 4 beneficios de la vacunación contra el
            COVID-19.</p>
    </div>
    <div class="card-container">
        <div id="reduce">
            <img src="../../../assets/img/menu.png">
            <h3>Reduce la propagacion del virus</h3>
            <p>
                La vacuna contra el COVID-19 ha demostrado ser efectiva parar evitar que alguien se infecte con
                coronavirus
            </p>
        </div>
        <div id="produce">
            <img src="../../../assets/img/shield (1).png">
            <h3>Produce anticuerpos</h3>
            <p>Se ha demostrado que la vacunacontra el covid-19 ayuda a dar forma a la respuesta de anticuerpos del
                sistema inmunitario</p>
        </div>
        <div id="protect">
            <img src="../../../assets/img/group.png">
            <h3>Protege a tus seres cercanos</h3>
            <p>Los beneficios de la vacunación contra el covid-19 son que la vacuna que recibimos también puede ayudar a
                proteger a las personas que nos rodean</p>
        </div>
        <div id="create">
            <img src="../../../assets/img/graph-bar.png">
            <h3>Crea grupos de inmunidad</h3>
            <p>La vacunación contra el COVID-19 también es beneficiosa para crear inmunidad grupal o de rebaño</p>
        </div>
    </div>
</div>