$h-bg-color:#1f3e72;
$p-bg-color:#919cae;
$practice-border:2px solid red;

@mixin center-elements($justify-content, $align-items){
    justify-content: $justify-content;
    align-items: $align-items;
    display: flex;
}

@mixin font-style($font-size, $color, $font-weight){
    Font-family: 'Public Sans', sans-serif;
    font-size: $font-size;
    color: $color;
    font-weight: $font-weight;
}

@mixin card-style{
    border:1px solid #919cae;
    border-radius: 25px;
    height: 40vh;
    width: 18vw;
}
@mixin icon-size{
    width: 60px;
    height: 60px;
}


.info-container{

    @include center-elements(space-between, center);
    display: flex;
    flex-direction: column;
    height: 90vh;

    .header{
        width: 92vw;
        @include center-elements(center, flex-start);
        flex-direction:column;

        h2{
            @include font-style(2.4rem, $h-bg-color , 800);
        }
        p{

        
            margin-top: 2vh;
            @include font-style(1.3rem, $p-bg-color , bold);
            width: 45vw;
        }
    }


    .card-container{

        @include center-elements(space-around, center);
        width: 92vw;
        height: 70vh;
        div{
            @include center-elements(flex-start, center);
            @include card-style();
            flex-direction: column;
            transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
            
            img{
                margin-top: 5%;
                @include icon-size();
    
            }

            h3{
                @include font-style(1.2rem, $h-bg-color,800 );
                width:90%;
                height: 8vh
            }
            p{
                margin-top: 3%;
                @include font-style(.9rem,$p-bg-color , 800);
                width:90%;
            }

            &:hover{
                transform: scale(1.1);
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            }

        }
        
    }
}