<div class="body" id="recomendaciones">
    <div class="media-content">
        <img id="doc" src="../../../assets/img/doctor.png">
        <div class="bg-color"></div>

    </div>

    <div class="info-content">
        <h2>Preparativos antes de la vacuna</h2>
        <p>El éxito de las vacunas está fuertemente influenciado por la fuerza del sistema inmunológico del cuerpo. Por
            lo tanto, hay varias cosas que se pueden intentar para hacer mas efectiva la vacuna.</p>

        <ul>
            <li><img src="../../../assets/img/prohibited.png">Evita bebidas alcoholicas</li>
            <li><img src="../../../assets/img/cancel.png"> Evita el estres</li>
            <li><img src="../../../assets/img/graph-bar.png">Comer comida saludable</li>
            <li><img src="../../../assets/img/zzz.png">Dormir lo suficiente</li>
            <li><img src="../../../assets/img/heart-attack.png">Ejercicio o actividad fisica</li>
        </ul>
    </div>
</div>